<!doctype html>
<html lang="en" class="h-100">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="Valeria Kozenasheva, Han Yang">
  <title>Associations game app</title>


  <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/cover/">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">




</head>

<body class="text-center">

  <div class="cover-container p-3" style="text-align: center;  margin-top: 5%;">
    <main class="px-3 mt-5">
      <h1>Rules</h1>

      <p class="lead" style="width: 65%; margin-left: 18%;">
        <b>Associations</b> is a word game that you play in teams.
        In <b>Associations</b> you have to say things in “other words”.
        The idea is to explain words using synonyms, opposites or clues so that your team mates guess as many words as
        possible before the timer runs out. The team receives points equal to the number of words guessed. You can play
        as many rounds as you want.
        <br /><br /></p>
<h1>How to play:</h1>
      <div style="text-align: left;">
        <p class="lead" style="width: 65%;margin-left: 18%;">
               
        <br /> 1. Choose the number of teams playing, the name of the teams you prefer and the level
        of the game. There are 3 levels: easy, medium and hard.
        <br /> Click <b>"Start"</b> button
        <br />
        2. Click <b>"Begin"</b> to start the words showing up. Try to explain as many words as you can in 60 seconds.
        <br />3. Whenever your team guesses the word, click <b>"Done"</b>.
        <br /> If you don't know the word or how to explain it, click <b>"Undone"</b>.
        <br />5. As soon as time is out, the turn goes to the next team. Click <b>"Next team"</b>.
        <br />4. After all the teams have played, you can play one more round by clicking <b>"One more round"</b>
        <br />5. If you want to finish the game and see the results, click <b>"Finish the game"</b> after the round is
        over.</p>
      </div>
    </main>


  </div>
  <router-outlet></router-outlet>


</body>

</html>